<<<<<<< HEAD
@font-face {
    font-family: "MaShanZheng-Regular";
    src: url("/fonts/MaShanZheng-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "NeverMindHand-Regular";
    src: url("/fonts/NeverMindHand-Regular.ttf") format("truetype");
}
=======
<<<<<<< HEAD
<<<<<<< HEAD
@font-face {
    font-family: "MaShanZheng-Regular";
    src: url("/fonts/MaShanZheng-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "NeverMindHand-Regular";
    src: url("/fonts/NeverMindHand-Regular.ttf") format("truetype");
}
=======
@font-face {
    font-family: "MaShanZheng-Regular";
    src: url("/fonts/MaShanZheng-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "NeverMindHand-Regular";
    src: url("/fonts/NeverMindHand-Regular.ttf") format("truetype");
}
>>>>>>> bdf96cda1f6d0f25a8b8fd0246783d7c12859649
=======
@font-face {
    font-family: "MaShanZheng-Regular";
    src: url("/fonts/MaShanZheng-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "NeverMindHand-Regular";
    src: url("/fonts/NeverMindHand-Regular.ttf") format("truetype");
}
>>>>>>> bdf96cda1f6d0f25a8b8fd0246783d7c12859649
>>>>>>> aa4d717e69289eb7cc1a29e924df561edb7df441
